
$primary-font-size_big: 25vw;
$secondary-font-size_big: 9vw;
$tertiary-font-size_big: 10rem;
$primary-font-size_small: 1rem;

$icon-font-size: 1.4rem; // sun logo weather
$degree-25 : 1.6rem; // 25degree font size font