main {
   padding: 7%;
   height: 100vh;
   max-height: 100vh;
   min-height: 100vh;
   width: 100%;
   background-image: url('/images/sunrise.jpg');
   background-position: center;
   background-size: cover;
}
