@use '../components/animation' as *;

.todo-btn {
   cursor: pointer;
   font-weight: bold;
}

.todo-modal {
   min-width: 17rem;
   min-height: 13rem;
   max-height: 13rem;
   border-radius: 5%;
   background-color: rgba(0, 0, 0, 0.925);

   form {
      position: absolute;
      bottom: 1.5rem;
      left: 2rem;
   }
}



.todo-header {
   padding: 8%;
}

.todo-input {
   min-width: 12rem;
   text-align: left;
   font-size: 1em;
   padding-bottom: 3%;
}

button {
   border: none;
   background: none;

   span {
      color: rgb(175, 175, 175);
   }
}

.todo-item {
   color: white;
   flex: 2;
   text-align: left;
}

.todo-list {
   min-width: 80%;
   overflow: auto;
   max-height: 5rem;
   scroll-behavior: smooth;
}

.todo {
   width: 80%;
   margin: 0.5rem;
   justify-content: space-between;
   align-items: center;
   font-size: 1em;
}

.close {
   cursor: pointer;
}



.todo-modal {
   background-color: rgba(0, 0, 0, 0.938);
   border-style: none;
   margin-left: auto;
   margin-right: auto;
   top: 55vh;
   left: 0;
   right: 0;
   text-align: center;
}

.modal__focus[open] {
   animation: fade-in 500ms forwards;
}

.modal.focus-text[open] {
   animation: fade-in 500ms forwards;
}
