@use '../abstracts/variables' as *;
.center-region {
   height: 88%;

   .center-region_time {
      font-size: $primary-font-size_big;
      font-weight: 400;
   }

   .center-region_greet {
      font-size: $secondary-font-size_big;
      text-align: center;
   }

   p {
      text-align: center;
      font-style: italic;
   }
}

form {
   input {
      border-style: none;
      border-bottom: 2px solid white;
      background-color: transparent;
      width: 80%;
   }

   label,
   input {
      text-align: center;
      font-size: large;
   }

   .label.name,
   .input.name {
      visibility: visible;
   }
   .input.focus,
   .label.focus {
      visibility: visible;
      display: none;
   }
}
