@use '../abstracts/variables' as *;
// default styling
.center-region {
   height: 85%;
   gap: 5rem;
   p {
      text-align: center;
      font-style: italic;
   }

   dialog {
      position: inherit;
      background-color: transparent;
      border-style: none;
     
   }
}

// Greet & Clock styling
.center-region-main {
   .center-region__clock {
      font-size: $primary-font-size_big;
      font-weight: 400;
   }

   .center-region__greet {
      font-size: $secondary-font-size_big;
      text-align: center;
   }
}

// Dialog Modal INput styling
.modal-form {
   label,
   input {
      text-align: center;
      font-size: 6vw;
      width: 80%;
   }
}

// Dialog Modal output Styling
.modal__focus--output {
   width: 80%;
   text-align: center;
   font-size: 1.3rem;
}


// Quotes Styling
.quotes {
   .refresh {
      font-size: $primary-font-size_small;
      // margin-left: 2%;
      // margin-top: 2%;
      color: rgb(221, 221, 221);
      cursor: pointer;
   }

   .customize-icon {
      font-size: 1.3rem;
   }
}
