@use '../abstracts/variables' as *;
.center-region {
   height: 88%;

   .center-region_clock {
      font-size: $primary-font-size_big;
      font-weight: 400;
   }

   .center-region_greet {
      font-size: $secondary-font-size_big;
      text-align: center;
   }

   p {
      text-align: center;
      font-style: italic;
   }
}

form {
   input {
      border-style: none;
      border-bottom: 2px solid white;
      background-color: transparent;
      width: 80%;
   }

   label,
   input {
      text-align: center;
      font-size: large;
   }
}

.focus-text {
   span {
      font-size: $primary-font-size_small;
   }
}

.quotes {
   .refresh {
      font-size: $primary-font-size_small;
      // margin-left: 2%;
      // margin-top: 2%;
      color: rgb(221, 221, 221);
      cursor: pointer;
   }

   .customize-icon {
      font-size: 1.3rem;
   }
}
