@use '../abstracts/variables' as *;

.top-region {
   .weather__temp {
      font-size: $degree-25;
   }

   .weather__icon {
      font-size: $icon-font-size;
   }

   p {
      font-weight: 500;
      font-size: $primary-font-size_small;
   }
}
