@use './animation' as *;

dialog {
   background-color: transparent;
   border-style: none;
   margin-left: auto;
   margin-right: auto;
   top: 55vh;
   left: 0;
   right: 0;
   text-align: center;
}

.modal.focus[open] {
   animation: fade-in 500ms forwards;
}

.modal.focus-text[open] {
   animation: fade-in 500ms forwards;
}
